html {
  box-sizing: border-box;
  font-size: 63.5%;
  /* background-color: #0e1c26; */
  box-shadow: 0px 0px 25px #ddb2b2;
  backdrop-filter: blur(10px);
  background: hsla(213, 73%, 12%, 1);

  background: radial-gradient(circle, hsla(213, 73%, 12%, 1) 31%, hsla(211, 68%, 15%, 1) 58%);
  
  background: -moz-radial-gradient(circle, hsla(213, 73%, 12%, 1) 31%, hsla(211, 68%, 15%, 1) 58%);
  
  background: -webkit-radial-gradient(circle, hsla(213, 73%, 12%, 1) 31%, hsla(211, 68%, 15%, 1) 58%);

}
h1,
h2,
h3 {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/* .app{
  background-color: #282c34;
} */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.contenedor {
  max-width: 900px;
  margin: 0 auto;
}

.content{
-webkit-box-shadow: -1px 0px 86px 0px rgba(0,0,0,0.76);
-moz-box-shadow: -1px 0px 86px 0px rgba(0,0,0,0.76);
box-shadow: -1px 0px 86px 0px rgba(0,0,0,0.76);
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  background: hsla(213, 73%, 12%, 1);
  /* background-color: #282c34;; */
}

img{
  display: block;
  max-width: 100%;
}


.arrowIcon{
  border: solid #bfa181 1px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.squareListLeft {
  position: absolute;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
  width: 25%;

}

.squareListRight {
  right: 0;
  position: absolute;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
  width: 25%;

}

.squareListRight div{
  height: 150px;
  width: 150px;
  -webkit-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  border-radius: 10px;
  

}

.squareListLeft div{
  height: 150px;
  width: 150px;
  -webkit-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.74);
  border-radius: 10px;
  

}

.animated-border-box, .animated-border-box-glow{
  max-height: 200px;
  max-width: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
  /* Border Radius */
    border-radius: 10px;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, 100%) rotate(0deg);
  position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
  /*border color, change middle color*/
    /* background-image: conic-gradient(rgba(212, 207, 207, 0.856), #1976ed, rgba(0,0,0,0) 25%); */
  background-image: #1976ed;
  /* change speed here */
    animation: alternate-reverse 4s linear infinite;
}

.animated-border-box:after {
    content: '';
    position: absolute;
    z-index: -1;
  /* border width */
    left: 5px;
    top: 5px;
  /* double the px from the border width left */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  /*bg color*/
    background: hsla(213, 73%, 12%, 1);
  /*box border radius*/
    border-radius: 7px;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
