.about{
    height: 80vh;
    position: relative;
}
.photo{
    background-color: red;
    border-radius: 60%;
}

.photo img{
    height: 400px;
    max-width: 600px;
}
.aboutContent{
    display: flex;
    
}