.squareList {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;

}

.squareList div{
    border: solid #ffffff 1px;
    height: 100px;
    width: 100px;
}
