.about{
    height: 80vh;
    position: relative;
}
.photo{
    height: 300px;
    width: 400px;
    background-color: red;
    border-radius: 60%;
    position: relative;
}

.photo img{
    position: absolute;
    height: 400px;
    width: 400px;
}
.aboutContent{
    display: flex;
    
}