.aboutSection{
    display: grid;
    align-items: center;
    position: relative;
}

.aboutSection h1{
    margin-bottom: 1vh;
}
.aboutCardPhoto{
    position: relative;
    background-color: rgba(133, 132, 132, 0.185);
    border-radius: 100%;
    overflow: hidden;
}

.aboutCard{
   display: grid;
   grid-template-columns: 0.5fr 1fr;
}

.aboutCardContent p{

    padding: 30px;
    align-content: center;
    margin: 0;
}