.squareList {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;

}

.squareList div{
    border: solid rgba(255, 255, 255, 0.253) 1px;
    height: 150px;
    width: 150px;
    -webkit-box-shadow: inset 0px 0px 12ps 5px rgba(87, 87, 87, 0.74);
-moz-box-shadow: inset 0px 0px 12ps 5px rgba(116, 115, 115, 0.74);
box-shadow: inset 0px 0px 12ps 5px rgba(107, 106, 106, 0.74);

}
