.about{
    height: 80vh;
    position: relative;
}
.photo{
    position: relative;
    background-color: rgba(133, 132, 132, 0.185);
    border-radius: 100%;
}

.photo img{
    margin: auto;
    height: 300;
    max-width: 500px;
}
.aboutContent{
    display: flex;
    align-items: center;
    
}