.header{
    margin-top: 20px;
    /* border: solid 1px yellow; */
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(7, 7, 7);
}
.header-categorias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    gap: 40px;
}

@media (max-width: 600px) {
    .header-categorias { grid-template-columns: repeat(1, 1fr); }
  }

img{
    object-fit: cover;
    height: 50vh;
    width: 100%;
    mask-image: linear-gradient(#282c34 80%, transparent);
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

h1, h2{
    color: white;
}