.projectsSection {
  position: relative;
}
.projectsSection {
  position: relative;
}

.arrowIconTitle {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid #bfa181 1px;
  border-width: 0 7px 6px 0;
  display: inline-block;
  padding: 11px;
}

.cards {
  color: white;
  display: grid;
  grid-gap: 60px;
  padding-top: 80px;
  grid-template-columns: repeat(1, 1fr);
}

.card-projects {
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  position: relative;
  grid-gap: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px;
  background: #f4f3ef;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}


.card-projects:hover{
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
}
.card-img{
	height: 100%;
	transition: transform 0.2s ease;
}
.card-projects:hover .card-img {
	transform: scale(1.05) rotate(0deg);
  }



.card-description {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.card-description::before {
  content: "";
  position: absolute;
  display: block;
  background: #f4f3ef;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}

.card-description p {
  position: absolute;
  color: black;
  margin: 0;
  top: 24%;
}

.card-description h3 {
top: -5%;
  position: absolute;
  color: black;
}
.stackProjects {
  top: 13%;
  color: red;
  position: absolute;
  display: flex;
  gap: 10px;
}

.stackProjects span{
  border: 1px solid;
  padding: 2px;
  border-radius: 15px;
  display: flex;
}
.buttonsProject {
  bottom: -7%;
  color: red;
  position: absolute;
}
/* RESPONSIVE DESIGN */


.cards {
  color: white;
  display: grid;
  grid-gap: 60px;
  padding-top: 80px;
  grid-template-columns: repeat(1, 2fr);
}
.card-projects img {
  border-radius: 10px;
}
.card-description {
  display: grid;
}

/* RESPONSIVE DESIGN */

@media (max-width: 800px) {

.card-description {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}
.card-description::before {
	content: "";
	display: none;
}
.card-description h3{
	position: relative;
}
.card-description p {
	position: relative;
}
.buttonsProject {
	position: relative;
}
.stackProjects {
	position: relative;
}

}

@media (max-width: 600px) {
	.card-projects {
		max-width: 500px;
		margin: 0 auto;
	  grid-template-columns: repeat(1, 1fr);
	}
  }