.content-navbar {
  z-index: 1;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
}
.content-navbar ul {
  margin-top: 25px;
  color: white;
  z-index: 2;
  border-radius: 8px;
  border: 1px solid;
}
.content-navbar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: medium;
  flex-wrap: wrap;
}

.logo {
  position: absolute;
  left: 0;
  bottom: 25%;
  width: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  margin: 0;
  gap: 40px;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links .active {
  color: #bfa181;
}

.background-scrolling {
  background-color: rgba(133, 131, 131, 0.63);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.nav-links li a:hover:not(.active) {
  color: #bfa181;
}

/* RESPONSIVE DESIGN */

@media (max-width: 600px) {
  .nav-links {
    padding: 10px 10px;
  }
  .nav-links li a {
    font-size: 12px;
  }
}
