.projectsSection {
  position: relative;
}
.projectsSection {
  position: relative;
}

.arrowIconTitle {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid #bfa181 1px;
  border-width: 0 7px 6px 0;
  display: inline-block;
  padding: 11px;
}

.cards {
  color: white;
  display: grid;
  grid-gap: 60px;
  padding-top: 80px;
  grid-template-columns: repeat(1, 1fr);
}

.card-projects {
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  position: relative;
  grid-gap: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  background: #f4f3ef;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card-projects:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
}
.card-img {
  position: relative;
  height: 100%;
}

.card-description {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}

.card-description p {
  position: absolute;
  color: black;
  margin: 0;
  top: 40%;
  font-size: 16px;
}

.card-description h3 {
  top: -7%;
  position: absolute;
  color: black;
}
.stackProjects {
  top: 11%;
  color: rgb(0, 0, 0);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.stackProjects div {
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  gap: 5px;
}
.stackProjects span {
  color: white;
  display: flex;
  height: 16px;
}
.buttonsProject {
  gap: 25px;
  justify-content: center;
  display: flex;
  width: 100%;
  text-align: center;
  bottom: 10%;
  position: absolute;
}
/* RESPONSIVE DESIGN */
.buttonsProject button {
  background: none;
  border: none;
  color: white;
}

.buttonsProject a:hover {
  background-color: black;
}
.buttonsProject a {
  font-size: 18px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.781);
  padding: 10px;
  border-radius: 10px;
}

.buttonsProject img {
  max-height: 23px;
}

.cards {
  color: white;
  display: grid;
  grid-gap: 60px;
  padding-top: 80px;
  grid-template-columns: repeat(1, 2fr);
  opacity: 0;
  transform: translateY(100px); /* Inicia la card más abajo */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/* Cuando la card está visible */
.cards.show {
  opacity: 1;
  transform: translateY(0);
}

.card-description {
  display: grid;
}

/* RESPONSIVE DESIGN */

@media (max-width: 800px) {
  .card-description {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px 5px 30px 5px;
  }
  .card-description::before {
    content: "";
    display: none;
  }
  .card-description h3 {
    position: relative;
  }
  .buttonsProject img{
    height: 18px;
  }
  .buttonsProject a{
    padding: 8px;
  }
  .card-description p {
    position: relative;
    top: 16%;
  }
  .stackProjects {
    position: relative;
  }
}

@media (max-width: 600px) {
  .card-projects {
    max-width: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
